html {
  scroll-padding-top: var(--navbar-safe-area);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--base-font);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color .25s ease;
  font-family: var(--font-base);
  font-size: var(--text-md);
}

a {
  color: inherit;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  transition: .25s ease;

  &:focus-visible {
    position: relative;
    outline: 3px var(--black) solid;
    z-index: 10;
  }

  &.dims:hover {
    opacity: .6;
  }
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--site-padding);
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.checkbox-label {
  display: flex;
  gap: var(--spacer-3);
}

.checkbox-input {
  appearance: none;
  background-color: var(--white);
  margin: 0;
  font: inherit;
  color: var(--beige);
  width: 1.25em;
  height: 1.25em;
  border: 1.5px solid var(--beige);
  border-radius: 0;
  display: grid;
  place-content: center;
  flex-shrink: 0;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: .25s transform ease-in-out;
    box-shadow: inset 1em 1em var(--beige);
    border-radius: 100%;
  }

  &:checked::before {
    transform: scale(1);
  }

  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 2px var(--black);
  }
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  @include visually-hidden();
}

.menu-open {
  overflow: hidden;
}
