:root {
  --navbar-safe-area: #{$navbar-safe-area};
  --font-base: #{$font-base};
  --font-headline: #{$font-headline};
  --black: #{$black};
  --white: #{$white};
  --blue: #{$blue};
  --brown: #{$brown};
  --beige: #{$beige};
  --lightpink: #{$lightpink};
  --lightblue: #{$lightblue};
  --lightgray: #{$lightgray};
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: .75rem;
  --spacer-4: 1rem;
  --spacer-5: 1.25rem;
  --spacer-6: 1.5rem;
  --spacer-7: 1.75rem;
  --spacer-8: 2rem;
  --spacer-9: 2.5rem;
  --spacer-10: 3rem;
  --spacer-12: 4rem;
  --spacer-14: 5rem;
  --site-padding: var(--spacer-10);
  --container-max-width: #{$container-max-width};
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@include media('<lg') {
  :root {
    --site-padding: var(--spacer-8);
  }
}

@include media('<md') {
  :root {
    --site-padding: var(--spacer-6);
  }
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --text-sm: clamp(0.75rem, 0.05vw + .85rem, 1rem);
		--text-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--text-md: clamp(1.2rem, 0.9vw + 1rem, 1.5rem);
		--text-lg: clamp(1.56rem, 2vw + 1rem, 2.6rem);
		--text-xl: clamp(1.95rem, 3.74vw + 1.02rem, 4.01rem);
		--text-xxl: clamp(2.44rem, 6.49vw + 0.82rem, 6.01rem);
		--text-xxxl: clamp(3.05rem, 8vw + 0.5rem, 7.75rem);
  }
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --text-sm: 0.85rem;
		--text-base: 1rem;
		--text-md: 1.25rem;
		--text-lg: 1.56rem;
		--text-xl: 1.95rem;
		--text-xxl: 2.44rem;
		--text-xxxl: 3.05rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
      --text-sm: 0.85rem;
			--text-base: 1.19rem;
			--text-md: 1.78rem;
			--text-lg: 2.67rem;
			--text-xl: 4.01rem;
			--text-xxl: 6.01rem;
			--text-xxxl: 9.02rem;
    }
  }
}
