:root {
  --primary: #{$primary};
  --navbar-safe-area: #{$navbar-safe-area};
  --text-sm: #{$text-sm};
  --text-base: #{$text-base};
  --text-md: #{$text-md};
  --text-lg: #{$text-lg};
  --text-xl: #{$text-xl};
  --text-2xl: #{$text-2xl};
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
