/* Colors */
$black: #000;
$blue: #606D80;
$brown: #9B674C;
$beige: #C8BFB0;
$lightpink: #FEF9F8;
$lightblue: #E0E2E6;
$white: #fff;

/* Fonts */
$font-base: Switzer, sans-serif;
$font-headline: Satoshi, sans-serif;

/* Media breakpoints */
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px,
  xxl: 1540px,
  sup: 2200px
);

$max-container: 2000px;

/* Spacing */
$navbar-safe-area: 9.774rem;

/* Utils */
$colors: (
  "black": $black,
  "blue": $blue,
  "brown": $brown,
  "beige": $beige,
  "lightpink": $lightpink,
  "lightblue": $lightblue,
  "white": $white,
  "transparent": transparent
);
