/* Colors */
$black: black;
$blue: #606D80;
$brown: #9B674C;
$beige: #C8BFB0;
$lightpink: #FEF9F8;
$lightblue: #E0E2E6;

/* Fonts */
$font-base: Switzer, sans-serif;
$font-headline: Satoshi, sans-serif;

/* Text sizing */
$text-sm: .95rem;
$text-base: 1rem;
$text-md: 1.1rem;
$text-lg: 1.25rem;
$text-xl: 1.4rem;
$text-2xl: 2rem;

/* Media breakpoints */
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px,
  xxl: 1540px,
  sup: 2200px
);

$max-container: 2000px;

/* Spacing */
$navbar-safe-area: 4rem;